@{
    ViewData["Title"] = "George Michael";
}


<!DOCTYPE html>

<!-- ************************************************************

    _________    __  _________   __  ______  __  _______ ______
   / ____/   |  /  |/  / ____/  / / / / __ \/ / / / ___// ____/
  / /_  / /| | / /|_/ / __/    / /_/ / / / / / / /\__ \/ __/
 / __/ / ___ |/ /  / / /___   / __  / /_/ / /_/ /___/ / /___
/_/   /_/  |_/_/  /_/_____/  /_/ /_/\____/\____//____/_____/

Built by Fame House
-
http://famehouse.net
https://www.facebook.com/famehouse
@FameHouse
-
Project: Chris Stapleton

************************************************************** -->

<html lang="en-US" class="no-js">
<!--[if lt IE 7]><html class="lt-ie10 lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="lt-ie10 lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--><html><!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="pingback" href="https://www.chrisstapleton.com/xmlrpc.php" />

    <title>A Simple Song | Chris Stapleton</title>

            <link href="https://www.chrisstapleton.com/wp-content/uploads/2016/12/favicon.png" rel="shortcut icon">
        
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://use.typekit.net/anf4qal.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>

    
<!-- All in One SEO Pack 2.4.2 by Michael Torbert of Semper Fi Web Design[1216,1254] -->
<link rel="canonical" href="https://www.chrisstapleton.com/song/a-simple-song/" />
<!-- /all in one seo pack -->
<link rel='dns-prefetch' href='//ajax.googleapis.com' />
<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel='dns-prefetch' href='//s.w.org' />
<link rel='stylesheet' id='yarppWidgetCss-css'  href='https://www.chrisstapleton.com/wp-content/plugins/yet-another-related-posts-plugin/style/widget.css?ver=4.8.20' type='text/css' media='all' />
<link rel='stylesheet' id='google-fonts-css'  href='//fonts.googleapis.com/css?family=Roboto+Slab%3A400%2C700&#038;ver=4.8.20' type='text/css' media='all' />
<link rel='stylesheet' id='style-main-css'  href='https://www.chrisstapleton.com/wp-content/themes/chrisstapleton/assets/css/main.css?ver=4.8.20' type='text/css' media='all' />
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js?ver=4.8.20'></script>
<script type='text/javascript' src='https://www.chrisstapleton.com/wp-content/themes/chrisstapleton/assets/js_head/modernizr.js'></script>
<link rel='https://api.w.org/' href='https://www.chrisstapleton.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.chrisstapleton.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://www.chrisstapleton.com/wp-includes/wlwmanifest.xml" /> 
<link rel='prev' title='Tryin’ To Untangle My Mind' href='https://www.chrisstapleton.com/song/tryin-to-untangle-my-mind/' />
<link rel='next' title='Midnight Train To Memphis' href='https://www.chrisstapleton.com/song/midnight-train-to-memphis/' />
<meta name="generator" content="WordPress 4.8.20" />
<link rel='shortlink' href='https://www.chrisstapleton.com/?p=1669' />
<link rel="alternate" type="application/json+oembed" href="https://www.chrisstapleton.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.chrisstapleton.com%2Fsong%2Fa-simple-song%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.chrisstapleton.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.chrisstapleton.com%2Fsong%2Fa-simple-song%2F&#038;format=xml" />
    <script type="application/ld+json">
        {
            "@context" : "http://schema.org",
            "@type" : "MusicGroup",
            "name" : "Chris Stapleton",
            "sameAs" : [
                             https://www.facebook.com/chrisstapletonofficial,
                                        https://twitter.com/ChrisStapleton,
                                        https://www.instagram.com/chrisstapleton/,
                                        https://www.youtube.com/user/ChrisStapletonVEVO,
                                        https://open.spotify.com/artist/4YLtscXsxbVgi031ovDDdh,
                                                ]
        }
    </script>

            <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-91945041-1', 'auto');
          ga('send', 'pageview');
        </script>
    
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5MCW29');</script>

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '2743481629310990');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=2743481629310990&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '336617377178130');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=336617377178130&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code --> 

<!-- Canadian Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '386920928936604');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=386920928936604&ev=PageView&noscript=1"
/></noscript>
<!-- End Canadian Facebook Pixel Code -->


 <script src="https://js.adsrvr.org/up_loader.1.1.0.js" type="text/javascript"></script>
        <script type="text/javascript">
            ttd_dom_ready( function() {
                if (typeof TTDUniversalPixelApi === 'function') {
                    var universalPixelApi = new TTDUniversalPixelApi();
                    universalPixelApi.init("wed77s2", ["q684oyg"], "https://insight.adsrvr.org/track/up");
                }
            });
        </script>
<!-- End Google Tag Manager -->

</head>

<body>

<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '475627792642717');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=475627792642717&ev=PageView&noscript=1"
/></noscript>

<script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n; n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0; t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window, document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1011857638879534'); fbq('track', "PageView");
</script>
<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1011857638879534&ev=PageView&noscript=1" /></noscript>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5MCW29"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


    <header class="header">
            <div class="content-wrap--wide-2">
                <div class="header__row-1">
                    <h1 class="header__logo">
                        <a class="header__logo-image" href="https://www.chrisstapleton.com">
                            <img src="https://www.chrisstapleton.com/wp-content/themes/chrisstapleton/assets/images/header_logo.png" alt="Chris Stapleton">
                        </a>
                     </h1>

                    <a class="header__toggle-nav" data-nav="toggle" href="#">Menu</a>
                </div>
                
                <div class="header__nav" data-nav="nav">
                     <nav class="nav">
                        <div class="nav__list"><li id="menu-item-187" class="menu-item menu-item-type-post_type menu-item-object-page current_page_parent nav__list-item menu-item-187"><a href="https://www.chrisstapleton.com/news/" data-hover="News">News</a></li>
<li id="menu-item-181" class="menu-item menu-item-type-custom menu-item-object-custom nav__list-item menu-item-181"><a href="/tour" data-hover="Tour">Tour</a></li>
<li id="menu-item-180" class="menu-item menu-item-type-custom menu-item-object-custom nav__list-item menu-item-180"><a href="/music" data-hover="Music">Music</a></li>
<li id="menu-item-1605" class="menu-item menu-item-type-post_type menu-item-object-page nav__list-item menu-item-1605"><a href="https://www.chrisstapleton.com/lyrics/" data-hover="Lyrics">Lyrics</a></li>
<li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom nav__list-item menu-item-182"><a href="/videos" data-hover="Videos">Videos</a></li>
<li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom nav__list-item menu-item-183"><a href="/photos" data-hover="Photos">Photos</a></li>
<li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom nav__list-item menu-item-185"><a target="_blank" href="http://chrisstapleton.shop.redstarmerch.com/" data-hover="Store">Store</a></li>
<li id="menu-item-1363" class="menu-item menu-item-type-custom menu-item-object-custom nav__list-item menu-item-1363"><a target="_blank" href="http://www.stapletonfanclub.com" data-hover="Fan Club">Fan Club</a></li>
<li id="menu-item-1926" class="menu-item menu-item-type-post_type menu-item-object-page nav__list-item menu-item-1926"><a href="https://www.chrisstapleton.com/osok/" data-hover="OSOK">OSOK</a></li>
</div>                    </nav>

                    <div class="social-links social-links--header">
                        <ul class="social-links__list">
            <li class="social-links__list-item">
            <a class="social-links__link icon-facebook" target="_blank" href="https://www.facebook.com/chrisstapletonofficial"><span class="visually-hidden">Facebook</span></a>
        </li>
                <li class="social-links__list-item">
            <a class="social-links__link icon-twitter" target="_blank" href="https://twitter.com/ChrisStapleton"><span class="visually-hidden">Twitter</span></a>
        </li>
                <li class="social-links__list-item social-links__list-item--youtube">
            <a class="social-links__link icon-youtube" target="_blank" href="https://www.youtube.com/user/ChrisStapletonVEVO"><span class="visually-hidden">Youtube</span></a>
        </li>
                <li class="social-links__list-item">
            <a class="social-links__link icon-instagram" target="_blank" href="https://www.instagram.com/chrisstapleton/"><span class="visually-hidden">Instagram</span></a>
        </li>
                <li class="social-links__list-item social-links__list-item--apple-music">
            <a class="social-links__link icon-itunes" target="_blank" href="https://itun.es/us/gXRg"><span class="visually-hidden">Spotify</span></a>
        </li>
                <li class="social-links__list-item social-links__list-item--spotify">
            <a class="social-links__link icon-spotify" target="_blank" href="https://open.spotify.com/artist/4YLtscXsxbVgi031ovDDdh"><span class="visually-hidden">Spotify</span></a>
        </li>
                <li class="social-links__list-item social-links__list-item--tiktok" >
            <a class="social-links__link icon-tiktok" target="_blank" href="https://www.tiktok.com/@chrisstapleton"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" ><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z"/></svg></a>
        </li>
</ul>
                    </div>


                  
                    <div class="subscribe subscribe--header">
                        <div class="subscribe">
                            <a class="subscribe-button" data-show-email-modal href="#">Subscribe</a>
                        </div>
                    </div>
                  
                </div>
            </div>
    </header>



<div class="page page--lyrics single--lyrics">
    <div class="page__heading-container">
        <h2 class="page__heading h2">Lyrics</h2>
    </div>
    <div class="lyrics--title">
        <div class="lyrics--title-inner content-wrap">
            <div class="lyrics--title-link">
                <a href="https://www.chrisstapleton.com/lyrics" class="icon-thin-arrows-left">Back to Lyrics</a>
            </div>

            <h1>A Simple Song</h1>

                        <div class="album__year">
                Chris Stapleton, Darrell Hayes            </div>
                    </div>
    </div>
    <div class="content-wrap">
                <div class="single-lyrics">

            <p>Lately things are on my mind</p>
<p>Good news is hard to find</p>
<p>And I work on the factory line</p>
<p>And all I do is stay behind</p>
<p>&nbsp;</p>
<p>Call my mama like I should</p>
<p>She says daddy ain’t doing too good</p>
<p>Me and him should wet a line</p>
<p>I just can’t seem to find the time</p>
<p>&nbsp;</p>
<p>(chorus)</p>
<p>But I love my life man it’s something to see</p>
<p>It’s the kids and the dogs and you and me</p>
<p>It’s the way it’s alright when everything goes wrong</p>
<p>It’s the sound of a slow simple song</p>
<p>&nbsp;</p>
<p>I finally saved some money up</p>
<p>‘til i had to fix my truck</p>
<p>Talked to brother the other day</p>
<p>He didn’t have too much to say</p>
<p>&nbsp;</p>
<p>Tryin’ to quit these cigarettes</p>
<p>I can’t seem to kick them yet</p>
<p>Sister got laid off last fall</p>
<p>And I got high cholesterol</p>
<p>&nbsp;</p>
<p>(chorus) x2</p>

        </div>

        
                <div class="lyrics--album">

                                        <div class="lyrics--album-art">
                        <img width="4012" height="3853" src="https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES.jpg" class="attachment-full size-full wp-post-image" alt="" srcset="https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES.jpg 4012w, https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES-300x288.jpg 300w, https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES-768x738.jpg 768w, https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES-1024x983.jpg 1024w, https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES-50x48.jpg 50w, https://www.chrisstapleton.com/wp-content/uploads/2017/10/Stapleton-Volume-2-Profile-Image-LO-RES-608x584.jpg 608w" sizes="(max-width: 4012px) 100vw, 4012px" />                    </div>
                                
                                        <ul class="lyrics--album-links">
                                                    <li><a href="https://chrisstapleton.shop.redstarmerch.com/page/FromARoomVol2" target="_blank">Stapleton Store</a></li>
                                                    <li><a href="https://itunes.apple.com/us/album/from-a-room-volume-2/1293899666" target="_blank">iTunes</a></li>
                                                    <li><a href="https://www.amazon.com/gp/product/B0768B8TWJ/ref=dmm_dp_hqp_um_chrsta_1130" target="_blank">Amazon</a></li>
                                            </ul>
                     
                </div>

                
        
            </div>
</div>

    <footer class="footer">
        <div class="content-wrap--wide-2">
            <div class="footer__col footer__col--left">

                <div class="subscribe subscribe--footer">
                    <div class="subscribe">
                        <a class="subscribe-button" data-show-email-modal href="#">Subscribe</a>
                    </div>
                </div>
            </div>

            <div class="footer__col footer__col--right">
                <div class="footer__legal">
                                            <a target="_blank" href="http://www.chrisstapleton.com/contact">Contact</a> <span>|</span>
                    		                            <a target="_blank" href="/terms-of-use/">Terms of Use</a> <span>|</span>
                                                                <a href="/privacy-policy/">Privacy Policy</a>
                                        <span>&copy; Chris Stapleton.</span>
                </div>

                <div class="footer__partners">
                    <a class="footer__partners-logo icon-logo-fh" href="http://famehouse.net"><span class="visually-hidden">Fame House</span></a>
                </div>
            </div>
        </div>

    </footer>

    <script id="image-modal-content" type="x-tmpl-mustache">
    <div class="single-post__post is-loading">
        <div class="single-post__image">
            <img src="{{filename}}" alt="">
        </div>

        <div class="single-post__details">
            <div class="single-post__share-links">
                <div class="share-links">
                    <ul class="share-links__list">
                        <li class="share-links__list-item">
                            <a data-share-facebook='{"url" : "{{permalink}}"}' class="share-links__link icon-logo-facebook" href="#"><span class="visually-hidden">Share on Facebook</span></a>
                        </li>
                        <li class="share-links__list-item">
                            <a data-share-twitter='{"url" : "{{permalink}}", "text" : "{{caption}}"}' href="#" class="share-links__link icon-logo-twitter" href="#"><span class="visually-hidden">Share on Facebook</span></a>
                        </li>
                        <li class="share-links__list-item">
                            <a class="share-links__link icon-paper-plane" href="mailto:?subject={{caption}}&body={{permalink}}"><span class="visually-hidden">Share in email</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="wysiwyg-content">
                {{caption}}
            </div>
        </div>
    </div>
</script>


<div class="modal modal--media modal--media--image" data-image-modal>
    <div class="modal__close">
        <a data-hide-image-modal class="icon-x" href="#"><span class="visually-hidden">Hide Modal</span></a>
    </div>
    <a data-prev-image class="modal__control modal__control--prev icon-thin-arrows-left" href="#">
        <span class="visually-hidden">Previous Image</span>
    </a>
    <a data-next-image class="modal__control modal__control--next icon-thin-arrows-right" href="#">
        <span class="visually-hidden">Next Image</span>
    </a>

    <div class="modal__content">
    </div>
</div>

    <div class="modal modal--email-signup" data-email-modal>
    <div class="modal__content">
        <div class="email-signup">
            <div class="modal__close">
                <a data-hide-email-modal class="icon-x" href="#"><span class="visually-hidden">Hide Modal</span></a>
            </div>
            <h2 class="email-signup__heading">
                Subscribe to receive news
            </h2>
            <div class="email-signup__content">
                            </div>
        </div>
    </div>
</div>

    <div class="modal modal--media modal--media--video" data-video-modal>
    <div class="modal__close">
        <a data-hide-video-modal class="icon-x" href="#"><span class="visually-hidden">Hide Modal</span></a>
    </div>
    <div class="modal__content">
    </div>

    <a data-prev-video class="modal__control modal__control--prev icon-thin-arrows-left" href="#">
        <span class="visually-hidden">Previous Video</span>
    </a>
    <a data-next-video class="modal__control modal__control--next icon-thin-arrows-right" href="#">
        <span class="visually-hidden">Next Video</span>
    </a>
</div>

    <script type="text/javascript">
        var base_url = 'https://www.chrisstapleton.com',
            site_name = 'Chris Stapleton';
    </script>

    <script type='text/javascript' src='https://www.chrisstapleton.com/wp-content/themes/chrisstapleton/assets/js/main-min.js'></script>
<script type='text/javascript' src='https://www.chrisstapleton.com/wp-includes/js/wp-embed.min.js?ver=4.8.20'></script>

    
    
    <script src="https://cdn.attn.tv/chrisstapletonstore/dtag.js"></script>

</body>
</html>



