@{
    ViewData["Title"] = "George Michael";
}

<img src="~/images/georgemichael3.jpg" alt="Microsoft Azure" class="img-responsive" />

<div>
    <!-- Usage of azlyrics.com content by any third-party lyrics provider is prohibited by our licensing agreement. Sorry about that. -->
    Well I guess it would be nice<br>
    If I could touch your body<br>
    I know not everybody<br>
    Has got a body like you<br>
    <br>
    But I've got to think twice<br>
    Before I give my heart away<br>
    And I know all the games you play<br>
    Because I play them too<br>
    <br>
    Oh but I<br>
    Need some time off from that emotion<br>
    Time to pick my heart up off the floor<br>
    Oh when that love comes down<br>
    Without devotion<br>
    Well it takes a strong man baby<br>
    But I'm showing you the door<br>
    <br>
    ‘Cause I gotta have faith<br>
    I gotta have faith<br>
    ‘Cause I gotta have faith, faith<br>
    ‘Cause I gotta have faith, faith, faith<br>
    <br>
    Baby,<br>
    I know you're asking me to stay<br>
    Say please, please, please don't go away<br>
    You say I'm giving you the blues<br>
    Maybe<br>
    You mean every word you say<br>
    Can't help but think of yesterday<br>
    And another who tied me down to loverboy rules<br>
    <br>
    Before this river<br>
    Becomes an ocean<br>
    Before you throw my heart back on the floor<br>
    Oh oh baby I reconsider<br>
    My foolish notion<br>
    Well I need someone to hold me<br>
    But I'll wait for something more<br>
    <br>
    Yes I've gotta have faith…<br>
    Mmm, I gotta have faith<br>
    ‘Cause I gotta have faith, faith, faith<br>
    I gotta have faith-a-faith-a-faith<br>
    <br>
    Before this river<br>
    Becomes an ocean<br>
    Before you throw my heart back on the floor<br>
    Oh oh baby I reconsider<br>
    My foolish notion<br>
    Well I need someone to hold me<br>
    But I'll wait for something more<br>
    <br>
    Cause I gotta have faith<br>
    Mmm I gotta have faith<br>
    Because I got to have faith-a-faith-a-faith<br>
    I gotta have faith-a-faith-a-faith
</div>